.blog-post-meta { margin: -10px 0px 0px 2px; color: #999; }
.tags { margin: 0px 0px 0px 2px; color: #999; }
.version { color: #bbb; font-size: 10px; margin-bottom: 20px; }
.profile { max-width:300px; margin-top: 30px; }
.footer { margin-top; 20px; }
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
html { height: 100%; }
body { font-family: 'Source Code Pro', monospace; height: 100%; }
.menu a, .footer a { color: rgba(0,0,0,.70); }
.footer a:hover { color: #007bff; }
.logo { background: #777; color: #EEE; font-size: 28px; padding: 10px 15px 10px 15px; float:left; }
.logo:hover { background: #333; color: #EEE; text-decoration: none; }
.cover { padding-top: 35%; }
.menu { padding-top: 20px; }
.menu a { padding: 0px 10px 0px 10px; }
.full-height { height: 100%; }
.keywords {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  color: rgba(0,0,0,.70);

  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}
/* text animation */
@keyframes animated-text{  from{width: 0;} to{width: 350px;} }
/* cursor animations */
@keyframes animated-cursor{ from{border-right-color: rgba(0,0,0,.75);} to{border-right-color: transparent;}  }

video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) { #video-bg > video { height: 300%; top: -100%; }  }
@media (max-aspect-ratio: 16/9) { #video-bg > video { width: 300%; left: -100%; }  }

/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {  #video-bg > video { top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; } }
