  <div id="footer" class="text-center" style="padding: 20px 0; border-top: 1px solid #e2e8f0;">
      <div class="footer">
        {{ if .settings.github_url.Value }}
          <a href="{{ .settings.github_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on Github"><i class="fab fa-github fa-1x"></i></a>
        {{ end }}
        {{ if .settings.linkedin_url.Value }}
        <a href="{{ .settings.linkedin_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on LinkedIn"><i class="fab fa-linkedin fa-1x"></i></a>
        {{ end }}
        {{ if .settings.x_url.Value }}
        <a href="{{ .settings.x_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on X"><i class="fab fa-x fa-1x"></i></a>
        {{ end }}
        {{ if .settings.keybase_url.Value }}
        <a href="{{ .settings.keybase_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on Keybase"><i class="fab fa-keybase fa-1x"></i></a>
        {{ end }}
        {{ if .settings.instagram_url.Value }}
        <a href="{{ .settings.instagram_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on Instagram"><i class="fab fa-instagram fa-1x"></i></a>
        {{ end }}
        {{ if .settings.facebook_url.Value }}
        <a href="{{ .settings.facebook_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on Facebook"><i class="fab fa-facebook fa-1x"></i></a>
        {{ end }}
        {{ if .settings.strava_url.Value }}
        <a href="{{ .settings.strava_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on Strava"><i class="fab fa-strava fa-1x"></i></a>
        {{ end }}
        {{ if .settings.spotify_url.Value }}
        <a href="{{ .settings.spotify_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on Spotify"><i class="fab fa-spotify fa-1x"></i></a>
        {{ end }}
        {{ if .settings.xbox_url.Value }}
        <a href="{{ .settings.xbox_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on Xbox"><i class="fab fa-xbox fa-1x"></i></a>
        {{ end }}
        {{ if .settings.steam_url.Value }}
        <a href="{{ .settings.steam_url.Value }}" target="_blank" title="{{ .settings.site_title.Value }} on Steam"><i class="fab fa-steam fa-1x"></i></a>
        {{ end }}
      </div> <!-- /footer -->
      <div class="spacer version">Powered by <a href="https://github.com/compscidr/goblog" target="goblog {{ .version }}">goblog {{ .version }}</a></div>
  </div>
  </div> <!-- / wrapper -->
  <div class="bottom bottom-0">
    <div class="container" style="max-width: 640px;">
      <h3 class="pt-2">Latest</h3>
      <h4 class="text-left"><a href="{{ .recent.Permalink }}" title="{{ .recent.Title }}">{{ .recent.Title }}</a></h4>
      <p class="blog-post-meta text-left">{{ .recent.CreatedAt.Format "Jan 02, 2006" }}</p>
      <p class="text-justify" style="font-size: 14px;">
        {{ .recent.HTMLPreview 200 }}
      </p>
    </div>
  </div>
{{ if or .admin_page .post }}
  <script>hljs.highlightAll();</script>
{{ end }}
{{ with index .settings "custom_footer_code" }}{{ if .Value }}
  {{ .Value | rawHTML }}
{{ end }}{{ end }}
</body>
