{{ template "header.html" .}}

  <div class="container" style="max-width: 720px;">
    <h1>{{ .page.Title }}</h1>
    {{ if .is_admin }}
    <p class="text-left"><a href="/admin/pages/{{ .page.ID }}">Edit this page</a></p>
    {{ end }}
    {{ if .plugin_content }}
    <div id="page-content">{{ .plugin_content | rawHTML }}</div>
    {{ else }}
    <div id="page-content"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.7/purify.min.js" integrity="sha512-78KH17QLT5e55GJqP76vutp1D2iAoy06WcYBXB6iBCsmO6wWzx0Qdg8EDpm8mKXv68BcvHOyeeP4wxAL0twJGQ==" crossorigin="anonymous"></script>
    <script>
      var converter = new showdown.Converter({tables: true});
      var content = {{ .page.Content }};
      document.getElementById('page-content').innerHTML = DOMPurify.sanitize(converter.makeHtml(content));
    </script>
    {{ end }}
  </div>

{{ template "footer.html" .}}
