{{ template "header.html" .}}

  <div class="cover bg-left bg-center-l" style="background-image: url(/img/hero_rigolet.jpg); opacity: 0.8;">
    &nbsp;
  </div>

  <div class="container">
    <h1>About Jason Ernst</h1>
    <p>
      I'm currently Principal Software Engineer at a startup working on mobile
      networks on phones. I'm also an Adjunct Professor at the University of
      Guelph in Canada where I am on the committee of several graduate students
      who are studying wireless networks.
    </p>

    <p>
      Prior to this I was a Senior Software Engineer at a two different robotics
      startups in San Francisco. Before that I was the CTO and first developer
      at a startup in Vancouver called RightMesh which was building a mesh networking library
      for Android phones. During this time I was also an adjunct professor at
      the University of Guelph and was the industrial PI of a $2.13M MITACS
      grant to improve connectivity in Northern Canada, specifically Rigolet.
      RightMesh raised $30M in an ICO in 2018.
    </p>

    <p>
      Before that I was the CTO of Redtree Robotics which was working
      on a robotics hardware software platform to enable plug-and-play swarm
      robotics. I started this company with a friend during grad school and
      we raised some seed funding from Real Ventures.
    </p>

    <p>
      I've won, sponsored, and mentored hackathons. I love to give talks and
      present papers.
    </p>

    <p>
      I also enjoy driving, working on cars, video games, contributing to
      open source, cycling, running, and travel.
    </p>
  </div>

{{ template "footer.html" .}}
