{{ template "header.html" .}}
<script src="/js/admin-script.js"></script>
<div class="container">
    <div class="nav-scroller bg-body shadow-sm">
        <!-- https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/ -->
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            <a class="nav-link" href="/admin/dashboard">Dashboard</a>
            <a class="nav-link" href="/admin/posts">All Posts</a>
            <a class="nav-link" href="/admin/newpost">New Post</a>
            <a class="nav-link active" aria-current="page" href="/admin/settings">Settings</a>
        </nav>
    </div>
    <h1>Settings</h1>
    <div id="ajax-error" class="alert alert-danger" role="alert" style="display: none;"></div>
    <form id="settings-form" enctype="multipart/form-data">
        {{ range .settings }}
        <label for="{{ .Key }}" class="form-label">{{ .Key }}</label>
            {{ if eq .Type "file" }}
            <input type="{{ .Type }}" id="{{ .Key }}" name="{{ .Key }}" class="form-control" oninput="uploadFile(this)" required>
            {{ else }}
            <input type="{{ .Type }}" id="{{ .Key }}" name="{{ .Key }}" value="{{ .Value }}" class="form-control" required>
            {{ end }}
        {{ end }}
        <button class="btn btn-primary mt-2" onclick="updateSettings();">
            Save Settings
        </button>
    </form>

</div> <!-- / container -->

{{ template "footer.html" .}}
