{{ template "header.html" .}}

<div class="container">
    <h1 class="text-left">Archives</h1>

    <h2>By Year</h2>
    {{ range $year, $posts := .byYear }}
        <h3>{{ $year }} </h3>
        <ul>
        {{ range $posts }}
            <li><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
    {{ end }}
    <h2>By Month</h2>
    {{ range $yearMonth, $posts := .byYearMonth }}
    <h3>{{ $yearMonth }} </h3>
    <ul>
        {{ range $posts }}
        <li><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>

{{ template "footer.html" .}}