  <div id="footer" class="text-center">
      <div class="footer">
        <a href="https://github.com/compscidr" target="_blank" title="Jason Ernst on Github"><i class="fab fa-github fa-1x"></i></a>
        <a href="https://www.linkedin.com/in/jasonbernst/" target="_blank" title="Jason Ernst on LinkedIn"><i class="fab fa-linkedin fa-1x"></i></a>
        <a href="https://x.com/compscidr" target="_blank" title="Jason Ernst on X"><i class="fab fa-x-twitter fa-1x"></i></a>
        <a href="https://keybase.io/compscidr" target="_blank" title="Jason Ernst on Keybase"><i class="fab fa-keybase fa-1x"></i></a>
        <a href="https://www.instagram.com/compscidr/" target="_blank" title="Jason Ernst on Instagram"><i class="fab fa-instagram fa-1x"></i></a>
        <a href="https://www.facebook.com/jason.b.ernst" target="_blank" title="Jason Ernst on Facebook"><i class="fab fa-facebook fa-1x"></i></a>
        <a href="https://www.strava.com/athletes/2021127" target="_blank" title="Jason Ernst on Strava"><i class="fab fa-strava fa-1x"></i></a>
        <a href="https://open.spotify.com/user/csgrad?si=0lcz0klQTUyEU0JEc6RBRg" target="_blank" title="Jason Ernst on Spotify"><i class="fab fa-spotify fa-1x"></i></a>
        <a href="https://live.xbox.com/en-US/Profile?gamertag=compscidr" target="_blank" title="Jason Ernst on Xbox"><i class="fab fa-xbox fa-1x"></i></a>
        <a href="https://steamcommunity.com/id/compscidr/" target="_blank" title="Jason Ernst on Steam"><i class="fab fa-steam fa-1x"></i></a>
      </div> <!-- /footer -->
      <div class="spacer version">Powered by <a href="https://github.com/compscidr/goblog" target="goblog {{ .version }}">goblog {{ .version }}</a></div>
  </div>
  </div> <!-- / wrapper -->
  <div class="bottom bottom-0">
    <div class="container">
      <h2 class="pt-2">Most Recent Post</h2>
      <h3 class="text-left"><a href="{{ .recent.Permalink }}" title="{{ .recent.Title }}">{{ .recent.Title }}</a></h3>
      <p class="blog-post-meta text-left">{{ .recent.CreatedAt.Format "Jan 02, 2006 15:04:05 UTC" }}
        {{ range .Tags }}
        <a href="{{ .recent.Permalink }}" title="{{ .recent.Name}}">#{{ .recent.Name }}</a>
        {{ end }}
      </p>
      <p class="text-justify">
        {{ .recent.PreviewContent 600 }} ...
      </p>
    </div>
  </div>
{{ if or .admin_page .post }}
  <script>hljs.highlightAll();</script>
{{ end }}
</body>
