  <div class="footer">
    <a href="https://github.com/compscidr" target="_blank" title="Jason Ernst on Github"><i class="fab fa-github fa-1x"></i></a>
    <a href="https://www.linkedin.com/in/jasonbernst/" target="_blank" title="Jason Ernst on LinkedIn"><i class="fab fa-linkedin fa-1x"></i></a>
    <a href="https://twitter.com/compscidr" target="_blank" title="Jason Ernst on Twitter"><i class="fab fa-twitter fa-1x"></i></a>
    <a href="https://keybase.io/compscidr" target="_blank" title="Jason Ernst on Keybase"><i class="fab fa-keybase fa-1x"></i></a>
    <a href="https://www.instagram.com/compscidr/" target="_blank" title="Jason Ernst on Instagram"><i class="fab fa-instagram fa-1x"></i></a>
    <a href="https://www.facebook.com/jason.b.ernst" target="_blank" title="Jason Ernst on Facebook"><i class="fab fa-facebook fa-1x"></i></a>
    <a href="https://www.strava.com/athletes/2021127" target="_blank" title="Jason Ernst on Strava"><i class="fab fa-strava fa-1x"></i></a>
    <a href="https://open.spotify.com/user/csgrad?si=0lcz0klQTUyEU0JEc6RBRg" target="_blank" title="Jason Ernst on Spotify"><i class="fab fa-spotify fa-1x"></i></a>
    <a href="https://live.xbox.com/en-US/Profile?gamertag=compscidr" target="_blank" title="Jason Ernst on Xbox"><i class="fab fa-xbox fa-1x"></i></a>
    <a href="https://steamcommunity.com/id/compscidr/" target="_blank" title="Jason Ernst on Steam"><i class="fab fa-steam fa-1x"></i></a>
  </div> <!-- /footer -->
  <div class="spacer version">Powered by <a href="https://github.com/compscidr/goblog" target="goblog {{ .version }}">goblog {{ .version }}</a></div>
  <script>hljs.initHighlightingOnLoad();</script>
  <!-- Twitter universal website tag code -->
  <script>
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
          a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','o6m12');
      twq('track','PageView');
  </script>
  <!-- End Twitter universal website tag code -->
</body>
