{{ template "header.html" .}}
  <div class="text-center">
    <div class="container align-self-center">
      <a href="/posts" title="Read posts by Jason Ernst"><img src="img/jason.jpg" class="rounded-circle img-responsive profile" style="max-width:300px;" alt="Jason Ernst"/></a>
      <h1>Jason Ernst</h1>
      <h4>Software Engineer</h4>
      <div style="width: 355px; margin: auto;">
        <p class="keywords">
          Decentralization, Mesh Networks, Robotics
        </p>
      </div>
    </div>
  </div>

{{ template "footer.html" .}}
