{{ template "header.html" .}}

<a href="posts/">Posts</a>
<a href="tags/">Tags</a>

{{ if .logged_in }}
    <h3>Post a new Post</h3>
    <form action="post" method="POST">
      <input type="text" name="Title" placeholder="Post Title"> <br/>
      <textarea name="Content" rows="8" cols="80">Post Content</textarea> <br/>
      <input type="text" name="Tags" placeholder="Comma-Separated Tags"> <br/>
      <input type="submit"/>
    </form>

    <h3>Add a new Tag</h3>
    <form action="tag" method="POST">
      <input type="text" name="Name" placeholder="Tag Name"> <br/>
      <input type="submit"/>
    </form>
{{ end }}

{{ template "footer.html" .}}
