{{ template "header.html" .}}

<script type="text/javascript">
  var host = location.protocol + '//' + window.location.host
  var urlParams = new URLSearchParams(window.location.search);
  var code = urlParams.get('code');

  if (code) {
    //todo: get the post to be tied to the uri of the page (so it works on localhost, dev and prod)
    var post = $.post(host + "/api/login", {"code": code});
    post.done(function(data) {
      window.location.href = '/';
    });
  }
</script>

<div class="full-height row text-center">
  <div class="container align-self-center">
    <h4>Site Login</h4>
    <div class="clear">
      &nbsp;
    </div>

    <img src="img/jason.jpg" class="rounded-circle img-responsive" style="max-width:300px;" alt="Jason Ernst"/>

    <div class="clear">
      &nbsp;
    </div>

    <div class="container">
      <a id="github-button" class="btn btn-social btn-github" href="">
        <i class="fab fa-github fa-1x"></i> Sign in with Github
      </a>

      <script>$("#github-button").prop("href", "https://github.com/login/oauth/authorize?client_id={{ .client_id }}&redirect_uri=" + window.location);</script>

      <div class="clear">
        &nbsp;
      </div>

{{ template "footer.html" .}}
