{{ template "header.html" .}}

  <div style="background-color: black; padding-top: 35%; height: 0px; position: relative; overflow: hidden; width: 100%;">
    <div>
      <video loop autoplay muted>
        <source src="vid/redtree.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="container">

    <h1 class="text-left">Blog Posts</h1>

    {{ range .posts }}
    <div class="row">
      <div class="container left">
          <h2 class="text-left"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <p class="blog-post-meta text-left">{{ .CreatedAt.Format "Jan 02, 2006 15:04:05 UTC" }}</p>
          <p class="text-left">
            {{ .PreviewContent 100 }} ...
          </p>

      </div>
    </div>
    {{ end }}

{{ template "footer.html" .}}
