{{ template "header.html" .}}

  <div class="spacer">&nbsp;</div>

  <div class="container">
    <div class="row">
      <div class="container left">
        <h2 class="text-left"><a href="{{ .post.Permalink }}">{{ .post.Title }}</a></h2>
        <p class="blog-post-meta text-left">Posted on {{ .post.CreatedAt.Format "Jan 02, 2006 15:04:05 UTC" }}. Last Edited on {{ .post.UpdatedAt.Format "Jan 02, 2006 15:04:05 UTC" }} </p>
        <p class="tags text-left">
          {{range .post.Tags}}
            <a href="/tag/{{.Name}}">#{{.Name}}</a>
          {{end}}
        </p>
        {{ if .is_admin }}
        <p class="text-left"><a href="{{ .post.Adminlink }}">Edit this post</a></p>
        {{ end }}
        <div class="spacer">&nbsp;</div>
        <div id="html" class="text-left"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.0/showdown.min.js" integrity="sha512-f0tcqIsBF8Ux8RCYamMAegjUGgoJ1qn7Y57TKk+punaS1EPEfOoOFEEVSO0dydBBrx6dgZBHQWUi/a1I9QVqgA==" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var converter = new showdown.Converter();
    var md = "{{ .post.Content }}";
    var html = converter.makeHtml(md);
    $("#html").html(html)
  </script>
  <noscript>
    <div class="container">
      <p style="text-align: left;">
        {{ .post.Content }}
      </p>
    </div>
  </noscript>
{{ template "footer.html" .}}
