{{ template "header.html" .}}

<script type="text/javascript">

  function updatePost() {
    var tags = $("#tags").text().split(',')
    for (var i = 0; i < tags.length; i++) {
      tags[i] = {"name": tags[i].trim()}
    }
    var content = $("#content").val();
    var post = {
      "id": {{ .post.ID }},
      "title": $("#title").text(),
      "content": content,
      "tags": tags,
    }
    console.log("PATCH: " + JSON.stringify(post));

    $.ajax({
      url: "/api/v1/posts",
      type: "patch",
      dataType: "json",
      contentType: "application/json",
      success: function(json) {
        createdAt = json["CreatedAt"].split("-");
        yyyy = createdAt[0];
        mm = createdAt[1];
        dd = createdAt[2];
        dd = dd.substring(0,2)
        slug = json["slug"];
        window.location.href = "/posts/" + yyyy + "/" + mm + "/" + dd + "/" + slug;
      },
      data: JSON.stringify(post)
    });
  }

  function deletePost() {
    var post = {
      "id": {{ .post.ID }},
      "title": $("#title").text(),
      "content": $("#content").text(),
    }
    console.log("PATCH: " + JSON.stringify(post));

    $.ajax({
      url: "/api/v1/posts",
      type: "delete",
      dataType: "json",
      contentType: "application/json",
      success: function(json) {
        window.location.href = "/posts";
      },
      data: JSON.stringify(post)
    });
    return false;
  }
</script>

  <div class="container">

    <div class="row">
      <div class="container left">
        <h2 class="text-left" contenteditable="true" id="title" onfocusout="updatePost()">{{ .post.Title }}</h2>
        <p class="blog-post-meta text-left">Posted on {{ .post.CreatedAt.Format "Jan 02, 2006 15:04:05 UTC" }}. Last Edited on {{ .post.UpdatedAt.Format "Jan 02, 2006 15:04:05 UTC" }} [ <a href="#" onclick="return deletePost()">Delete</a>] </p>
        <p class="tags text-left">
          {{range .post.Tags}}
            <a href="/tag/{{.Name}}">#{{.Name}}</a>
          {{end}}
        </p>
        <div class="spacer">&nbsp;</div>
        <h1>Editable</h1>
        <p class="tags text-left" id="tags" contenteditable="true" onfocusout="updatePost()">{{range $i, $e := .post.Tags}}{{if $i}}, {{end}}{{$e.Name}}{{end}}</p>
        <textarea id="content" onfocusout="updatePost()" style="width: 100%; height: 50%;">{{ .post.Content }}</textarea>
        <div class="spacer">&nbsp;</div>
        <h1>Preview</h1>
        <div id="html" class="text-left"></div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha256-jl1+DOsSs9uABTKppOJ2GF8kXoc3XQzBtFFyS0i9Xoo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var converter = new showdown.Converter();
      var md = "{{ .post.Content }}";
      var html = converter.makeHtml(md);
      $("#html").html(html)
    </script>

{{ template "footer.html" .}}
