{{ template "header.html" .}}

  <script type="text/javascript">

    function updatePost() {
      var tags = $("#tags").text().split(',')
      for (var i = 0; i < tags.length; i++) {
        tags[i] = {"name": tags[i].trim()}
      }
      var time = $("#created_at").val();
      var vtime = moment.utc(time)
      
      var post = {
        "id": {{ .post.ID }},
        "created_at": vtime,
        "title": $("#title").text(),
        "content": simplemde.value(),
        "tags": tags,
      }
      console.log("PATCH: " + JSON.stringify(post));

      $.ajax({
        url: "/api/v1/posts",
        type: "patch",
        dataType: "json",
        contentType: "application/json",
        success: function(json) {
          var time = moment(json.created_at);
          var slug = json.slug;
          window.location.href="/posts/" + time.format("YYYY/MM/DD") + "/" + slug;
        },
        data: JSON.stringify(post)
      });
    }

    function deletePost() {
      var post = {
        "id": {{ .post.ID }},
        "title": $("#title").text(),
        "content": $("#content").text(),
      }
      console.log("PATCH: " + JSON.stringify(post));

      $.ajax({
        url: "/api/v1/posts",
        type: "delete",
        dataType: "json",
        contentType: "application/json",
        success: function(json) {
          window.location.href = "/posts";
        },
        data: JSON.stringify(post)
      });
      return false;
    }
  </script>

  <div class="container">

    <div class="row">
      <div class="container left">
        <h2 class="text-left" contenteditable="true" id="title" onfocusout="updatePost()">{{ .post.Title }}</h2>
        <p class="blog-post-meta text-left">Posted on {{ .post.CreatedAt.Format "Jan 02, 2006 15:04:05 UTC" }}. Last Edited on {{ .post.UpdatedAt.Format "Jan 02, 2006 15:04:05 UTC" }} [ <a href="#" onclick="return deletePost()">Delete</a>] </p>
        <p class="tags text-left">
          {{range .post.Tags}}
            <a href="/tag/{{.Name}}">#{{.Name}}</a>
          {{end}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="container left">
        <div class="spacer">&nbsp;</div>
        <h1>Editable</h1>
        <p class="tags text-left" id="tags" contenteditable="true" onfocusout="updatePost()">{{range $i, $e := .post.Tags}}{{if $i}}, {{end}}{{$e.Name}}{{end}}</p>
        <div class="text-left">
          <textarea id="content" onfocusout="updatePost()" style="width: 100%; height: 50%;">{{ .post.Content }}</textarea>
        </div>
        <div class="spacer">&nbsp;</div>

        <div class="form-group">
            <label for="created_at">Date Created</label>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id="created_at" name="created_at" value="{{ .post.CreatedAt.Format "01/02/2006 15:04:05 PM" }}"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" onclick="updatePost();">
              Save
          </button>
          <button class="btn btn-default" onClick="window.location.reload();">
              Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="spacer">&nbsp;</div>
      <div class="container left">
        <h1>Preview</h1>
        <div id="html" class="text-left"></div>
      </div>
    </div>
  </div> <!-- /container -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var converter = new showdown.Converter();
    var md = "{{ .post.Content }}";
    var html = converter.makeHtml(md);
    $("#html").html(html)
    var simplemde = new SimpleMDE({ element: $("#content")[0] });

    //https://github.com/sparksuite/simplemde-markdown-editor/issues/328
    inlineAttachment.editors.codemirror4.attach(simplemde.codemirror, {
        uploadUrl: "/api/v1/upload",
        onFileUploadResponse: function(xhr) {
            var result = JSON.parse(xhr.responseText);
            console.log(result);
            filename = result[this.settings.jsonFieldName];
            console.log(filename);
            console.log(this.filenameTag);
            if (result && filename) {
                var newValue;
                if (typeof this.settings.urlText === 'function') {
                    newValue = this.settings.urlText.call(this, filename, result);
                } else {
                    newValue = this.settings.urlText.replace(this.filenameTag, filename);
                }
                var text = this.editor.getValue().replace(this.lastValue, newValue);
                this.editor.setValue(text);
                this.settings.onFileUploaded.call(this, filename);
            }
            return false;
        }
    });

    $(function () {
      $('#datetimepicker1').datetimepicker({timeZone: "UTC"});
    });
  </script>

{{ template "footer.html" .}}
