{{ template "header.html" .}}

  <div class="container">

    <div class="row">
      <div class="container left">
        <h2 class="text-left">{{ .post.Title }}</h2>
        <p class="blog-post-meta text-left">Posted on {{ .post.CreatedAt.Format "Jan 02, 2006 15:04:05 UTC" }}. Last Edited on {{ .post.UpdatedAt.Format "Jan 02, 2006 15:04:05 UTC" }} </p>
        <div id="html" class="text-left"></div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha256-jl1+DOsSs9uABTKppOJ2GF8kXoc3XQzBtFFyS0i9Xoo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var converter = new showdown.Converter();
      var md = "{{ .post.Content }}";
      var html = converter.makeHtml(md);
      $("#html").html(html)
    </script>
{{ template "footer.html" .}}
