{{ template "header.html" .}}

  <div class="cover bg-left bg-center-l" style="background-image: url(/img/aidecentralized.jpg); opacity: 0.8;">
    &nbsp;
  </div>

  <div class="container">

    <h1>Research and Publications</h1>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:HoB7MX3m0LUC">
        Decentralized applications: The blockchain-empowered software system</a>
        <br/>W Cai, Z Wang, JB Ernst, Z Hong, C Feng, VCM Leung<br/>IEEE Access 6, 53019-53033</div>
      <div class="col">2018</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:zA6iFVUQeVQC">
        It’s time to do something: Mitigating the negative impacts of computing through a change to the peer review process</a>
        <br/>Brent Hecht, Lauren Wilcox, Jeffrey P Bigham, Johannes Schöning, Ehsan Hoque, Jason Ernst, Yonatan Bisk, Luigi De Russis, Lana Yarosh, Bushra Anjum, D Contractor, C Wu<br/>ACM Future of Computing Blog 29</div>
      <div class="col">2018</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:k_IJM867U9cC">
        A survey of QoS/QoE mechanisms in heterogeneous wireless networks</a>
        <br/>JB Ernst, SC Kremer, JJPC Rodrigues<br/>Physical Communication 13, 61-72</div>
      <div class="col">2014</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:pqnbT2bcN3wC">
        A survey and taxonomy of classifiers of intrusion detection systems</a>
        <br/>T Hamed, JB Ernst, SC Kremer<br/>Computer and network security essentials, 21-39</div>
      <div class="col">2018</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:NMxIlDl6LWMC">
        A utility based access point selection method for IEEE 802.11 wireless networks with enhanced quality of experience</a>
        <br/>JB Ernst, S Kremer, JJPC Rodrigues<br/>2014 IEEE International Conference on Communications (ICC), 2363-2368</div>
      <div class="col">2014</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:9ZlFYXVOiuMC">
        The design and evaluation of fair scheduling in wireless mesh networks</a>
        <br/>JB Ernst, MK Denko<br/>Journal of Computer and System Sciences 77 (4), 652-664</div>
      <div class="col">2011</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:g5m5HwL7SMYC">
        A survey and taxonomy on data and pre-processing techniques of intrusion detection systems</a>
        <br/>T Hamed, JB Ernst, SC Kremer<br/>Computer and network security essentials, 113-134</div>
      <div class="col">2018</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:j3f4tGmQtD8C">
        Creature learning to cross a ca simulated road</a>
        <br/>AT Lawniczak, JB Ernst, BN Di Stefano<br/>International Conference on Cellular Automata, 425-433</div>
      <div class="col">2012</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:isC4tDSrTZIC">
        Simulated naïve creature crossing a highway</a>
        <br/>AT Lawniczak, JB Ernst, BN Di Stefano<br/>Procedia Computer Science 18, 2611-2614</div>
      <div class="col">2013</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:TFP_iSt0sucC">
        Performance evaluation of mixed-bias scheduling schemes for wireless mesh networks</a>
        <br/>JB Ernst, JA Brown<br/>International Journal of Space-Based and Situated Computing 3 (1), 22-34</div>
      <div class="col">2013</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:BqipwSGYUEgC">
        Software implementation of population of cognitive agents learning to cross a highway</a>
        <br/>AT Lawniczak, BN Di Stefano, JB Ernst<br/>International Conference on Cellular Automata, 688-697</div>
      <div class="col">2014</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:JV2RwH3_ST0C">
        A Wi-Fi simulation model which supports channel scanning across multiple non-overlapping channels in NS3</a>
        <br/>JB Ernst, SC Kremer, JJPC Rodrigues<br/>2014 IEEE 28th International Conference on Advanced Information Networking and Applications, 268-275</div>
      <div class="col">2014</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:qUcmZB5y_30C">
        Algorithms and implementation for interconnection graph problem</a>
        <br/>H Fan, C Hundt, YL Wu, J Ernst<br/>International Conference on Combinatorial Optimization and Applications, 201-210</div>
      <div class="col">2008</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:ns9cj8rnVeAC">
        Naïve creature learns to cross a highway in a simulated CA-like environment</a>
        <br/>AT Lawniczak, BN Di Stefano, JB Ernst<br/>2014 IEEE Symposium on Intelligent Agents (IA), 30-37</div>
      <div class="col">2014</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:dhFuZR0502QC">
        Cross-layer mixed bias scheduling for wireless mesh networks</a>
        <br/>JB Ernst, MK Denko<br/>2010 IEEE International Conference on Communications, 1-5</div>
      <div class="col">2010</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:R3hNpaxXUhUC">
        Co-channel interference modelling between RATs in heterogeneous wireless networks</a>
        <br/>JB Ernst, N Nasser, J Rodrigues<br/>2012 IEEE International Conference on Communications (ICC), 5321-5325</div>
      <div class="col">2012</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:M05iB0D1s5AC">
        A survey and comparison of performance evaluation in intrusion detection systems</a>
        <br/>J Ernst, T Hamed, S Kremer<br/>Computer and network security essentials, 555-568</div>
      <div class="col">2018</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:O3NaXMp0MMsC">
        Biomimicry Based Learning Outcomes of Simple Cognitive Agents</a>
        <br/>AT Lawniczak, JB Ernst, BN Di Stefano<br/>Procedia Computer Science 36, 508-514</div>
      <div class="col">2014</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&citation_for_view=SbUmSEAAAAAJ:IWHjjKOFINEC">
        An online evolutionary programming method for parameters of wireless networks</a>
        <br/>JB Ernst, JA Brown<br/>2011 International Conference on Broadband and Wireless Computing, Communication and Applications</div>
      <div class="col">2011</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:7PzlFSSx8tAC">
        Adaptive mixed bias resource allocation for wireless mesh networks</a>
        <br/>JB Ernst, T Nkwe<br/>2010 International Conference on Broadband, Wireless Computing, Communication and Applications, 622-262</div>
      <div class="col">2010</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:QIV2ME_5wuYC">
        Fair scheduling with multiple gateways in wireless mesh networks</a>
        <br/>JB Ernst, MK Denko<br/>2009 International Conference on Advanced Information Networking and Applications, 106-112</div>
      <div class="col">2009</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:RYcK_YlVTxYC">
        Heterogeneous wireless network RAT selection with multiple operators and service contracts</a>
        <br/>JB Ernst, SC Kremer, JJPC Rodrigues<br/>2015 IEEE International Conference on Communications (ICC), 6011-6017</div>
      <div class="col">2015</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:J_g5lzvAfSwC">
        Stochastic model of cognitive agents learning to cross a highway</a>
        <br/>AT Lawniczak, BN Di Stefano, JB Ernst<br/>Stochastic Models, Statistics and Their Applications, 319-326</div>
      <div class="col">2015</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:bEWYMUwI8FkC">
        Energy-efficient next-generation wireless communications</a>
        <br/>JB Ernst<br/>Handbook of Green Information and Communication Systems, 371</div>
      <div class="col">2012</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:TQgYirikUcIC">
        Autonomic and Pervasive Networking</a>
        <br/>TKR Nkwe, MK Denko, JB Ernst<br/>Pervasive Computing and Networking, 219-236</div>
      <div class="col">2011</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:ZeXyd9-uunAC">
        Data ubiquity in autonomic wireless mesh networks</a>
        <br/>TKR Nkwe, MK Denko, J Ernst<br/>Journal of Ambient Intelligence and Humanized Computing 1 (1), 3-13</div>
      <div class="col">2010</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:-f6ydRqryjwC">
        A review of cross-layer scheduling and resource allocation for wireless mesh networks</a>
        <br/>JB Ernst, MK Denko<br/>2009 IEEE Toronto International Conference Science and Technology for Humanity (TIC-STH), 776-781</div>
      <div class="col">2009</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:L8Ckcad2t8MC">
        Scheduling techniques in wireless mesh networks</a>
        JB Ernst<br/>MSc. Thesis<br/></div>
      <div class="col">2009</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:RGFaLdJalmkC">
        Performance evaluation of heterogeneous wireless networks considering competing objectives and viewpoints</a>
        <br/>JB Ernst, SC Kremer, JJPC Rodrigues<br/>Proceedings of the 30th Annual ACM Symposium on Applied Computing, 680-687</div>
      <div class="col">2015</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:GnPB-g6toBAC">
        Improved performance of naïve creature learning to cross a highway</a>
        <br/>AT Lawniczak, JB Ernst, BN Di Stefano<br/>2014 IEEE 27th Canadian Conference on Electrical and Computer Engineering (CCECE), 1-6</div>
      <div class="col">2014</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:RHpTSmoSYBkC">
        Co-existence of evolutionary mixed-bias scheduling with quiescence and IEEE 802.11 DCF for wireless mesh networks</a>
        <br/>JB Ernst, JA Brown<br/>2012 26th International Conference on Advanced Information Networking and Applications Workshops</div>
      <div class="col">2012</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:maZDTaKrznsC">
        Naïve Creature with Fear and Desire Learning to Cross a Highway</a>
        <br/>AT Lawniczak, JB Ernst, BN Di Stefano<br/>Procedia Computer Science 29, 343-353</div>
      <div class="col">2014</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:hC7cP41nSMkC">
        Customized reconfigurable interconnection networks for multiple application socs</a>
        <br/>H Fan, J Ernst, YL Wu<br/>2008 International Conference on Field Programmable Logic and Applications, 491-494</div>
      <div class="col">2008</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:3s1wT3WcHBgC">
        Incorporation of Node Mobility in Data Replication Schemes in Mobile Ad Hoc Networks</a>
        <br/>M Asch, PF Seymour, J Ernst, D Gillis<br/>2019 IEEE 10th Annual Information Technology, Electronics and Mobile Communication Conference (IEMCON)</div>
      <div class="col">2019</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:lSLTfruPkqcC">
        Simulation Models and Framework to Support Connection point selection in HWNs to improve QoS/QoE, reduce cost and increase profits
      </a>J Ernst<br/>PhD Thesis<br/></div>
      <div class="col">2015</div>
    </div>
    <div class="row research">
      <div class="col-8"><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=SbUmSEAAAAAJ&cstart=20&pagesize=80&citation_for_view=SbUmSEAAAAAJ:fPk4N6BV_jEC">
        A survey of QoS/QoE mechanisms in heterogeneous wireless networks</a>
        <br/>JB Ernst, SC Kremer, JJPC Rodrigues<br/>Physical Communication(13), 61-72 </div>
      <div class="col">2014</div>
    </div>


{{ template "footer.html" .}}
