{{ template "header.html" .}}



<div class="container">

    <h1 class="text-left">Blog Tags</h1>

    {{ range .tags }}
        <div class="row">
            <div class="container text-left">
                {{ if .Posts }}
                <h3><a href="{{ .Permalink }}" title="{{ .Name }}">{{ .Name }}</a></h3>
                <ul>
                {{ range .Posts }}
                    <li><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
                {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>

{{ template "footer.html" .}}
