{{ template "header.html" .}}

<div style="background-color: black; padding-top: 35%; height: 0px; position: relative; overflow: hidden; width: 100%;">
    <div>
        <video loop autoplay muted>
            <source src="/vid/mesh.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="container">

    <h1 class="text-left">Blog Tags</h1>

    {{ range .tags }}
        <div class="row">
            <div class="container text-left">
                {{ if (len .Posts) gt 0 }}
                <h3><a href="{{ .Permalink }}" title="{{ .Name }}">{{ .Name }}</a></h3>
                <ul>
                {{ range .Posts }}
                    <li><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
                {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>

{{ template "footer.html" .}}
