<html>
<head>
    <title>Goblog Install Wizard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" integrity="sha512-f8mUMCRNrJxPBDzPJx3n+Y5TC5xp6SmStstEfgsDXZJTcxBakoB5hvPLhAfJKa9rCvH+n3xpJ2vQByxLk4WP2g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/wizard.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5" style="min-height: 600px;">
                <h1 class="fw-light">Goblog Install Wizard</h1>
                {{ if .errors }}
                <div class="alert alert-danger" role="alert">
                    {{ .errors }}
                </div>
                {{ end }}
                <form action="wizard" method="GET" class="py4">
                    <h5>Database</h5>
                    <div class="mb-3">
                        <p>Sqlite uses a file to store the database. MySQL requires a mysql server setup.</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sqlite" id="sqlite" checked>
                            <label class="form-check-label" for="sqlite">sqlite</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="mysql" id="mysql" disabled>
                            <label class="form-check-label" for="mysql">mysql</label>
                        </div>
                    </div>

                    <h5>Github OAuth</h5>
                    <p>You must go to <a href="https://github.com/settings/developers" target="_blank">https://github.com/settings/developers</a>
                    and create a "New OAuth App" to hook this site up to github for logins.
                    </p>
                    <p>Set the callback url to the same URL as this page with <code>/login</code> appended to it.</p>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="client_id" class="form-label">Client ID:</label>
                            <input type="text" class="form-control" id="client_id" name="client_id" placeholder="">
                        </div>
                        <div class="col">
                            <label for="client_secret" class="form-label">Client Secret:</label>
                            <input type="text" class="form-control" id="client_secret" name="client_secret" placeholder="">
                        </div>
                    </div>

                    <h5>Create Admin Account</h5>
                    <p>Once you setup the OAuth app, login with Github to test it out. The user you login with will be the
                    admin user for this site.</p>
                    <button id="github-button" class="btn btn-social btn-github" type="submit">
                        <i class="fab fa-github fa-1x"></i> Sign in with Github
                    </button>
                </form>
                <div class="version text-center">Powered by <a href="https://github.com/compscidr/goblog" target="goblog {{ .version }}">goblog {{ .version }}</a></div>
            </div>
        </div>
    </div>
</body>
</html>