<html>
<head>
    <title>Goblog Install Wizard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.4/css/bootstrap.min.css" integrity="sha512-GIOZ+eie5MLCWpFFEEihf4CkTotx+tgS1Udavk5fjWYCJoawHzRr71vpdAFU3sj9h4bF7Y2ZkdhWMlPKHA4RVA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" integrity="sha512-f8mUMCRNrJxPBDzPJx3n+Y5TC5xp6SmStstEfgsDXZJTcxBakoB5hvPLhAfJKa9rCvH+n3xpJ2vQByxLk4WP2g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/wizard.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.4/js/bootstrap.min.js" integrity="sha512-EEHzqIDyN3v//3V8EdE4F7YplL3IWyi1AGVfNnAM8RPqQgYktKi5QODcnKrsuY2djJ1qm3EnPQ6xCysOzJGgLA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5" style="min-height: 600px;">
            <h1 class="fw-light">Goblog Install Wizard</h1>
            <h5>Database:</h5>
            {{ if .errors }}
            <div class="alert alert-danger" role="alert">
                {{ .errors }}
            </div>
            {{ end }}
            <div id="ajax-error" class="alert alert-danger" role="alert" style="display: none;">
            </div>
            <form action="wizard_db" method="POST" class="py4">
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dbtype" id="sqlite" value="sqlite" data-toggle-value="sqlite" checked>
                        <label class="form-check-label" for="sqlite">sqlite</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dbtype" id="mysql" value="mysql" data-toggle-value="mysql">
                        <label class="form-check-label" for="mysql">mysql</label>
                    </div>
                </div>

                <div data-toggle-group="sqlite">
                    <p>Sqlite uses a file to store the database.</p>
                    <div class="mb-3">
                        <label for="sqlite_file" class="form-label">Sqlite File:</label>
                        <input type="text" class="form-control" id="sqlite_file" name="sqlite_file" value="goblog.db">
                    </div>
                </div>
                <div data-toggle-group="mysql" style="display: none;">
                    <p>MySQL requires a mysql server running on the host provided below</p>
                    <div class="mb-3">
                        <label for="mysql_host" class="form-label">Host:</label>
                        <input type="text" class="form-control" id="mysql_host" name="mysql_host" value="localhost">
                    </div>
                    <div class="mb-3">
                        <label for="mysql_port" class="form-label">Port:</label>
                        <input type="text" class="form-control" id="mysql_port" name="mysql_port" value="3306">
                    </div>
                    <div class="mb-3">
                        <label for="mysql_user" class="form-label">User:</label>
                        <input type="text" class="form-control" id="mysql_user" name="mysql_user" value="someuser">
                    </div>
                    <div class="mb-3">
                        <label for="mysql_pass" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="mysql_pass" name="mysql_pass" value="somedbpass">
                    </div>
                    <div class="mb-3">
                        <label for="mysql_db" class="form-label">Database:</label>
                        <input type="text" class="form-control" id="mysql_db" name="mysql_db" value="goblog">
                    </div>
                </div>

                <button id="database-save" class="btn btn-primary" type="submit" disabled>
                    <i class="bi bi-database"></i> Save Database Settings
                </button>
                <a id="database-test" class="btn btn-primary">
                    <i class="bi bi-database-gear"></i> Test Database
                </a>
            </form>
            <div class="version text-center">Powered by <a href="https://github.com/compscidr/goblog" target="goblog {{ .version }}">goblog {{ .version }}</a></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle-value]').on('change', function() {
            var value = $(this).data('toggle-value');
            $('[data-toggle-group]').hide();
            $('[data-toggle-group="' + value + '"]').show();
            $('#database-save').prop('disabled', true);
            $('#database-test').removeClass('btn-success btn-danger').addClass('btn-secondary');
            $('#database-test').html('<i class="bi bi-database-gear"></i> Test Database');
            $('#ajax-error').hide();
        });
    });

    // submit the form when the test database button is clicked
    $('#database-test').on('click', function() {
        // use ajax to submit the form and capture the result
        $.ajax({
            type: 'POST',
            url: 'test_db',
            data: $('form').serialize(),
            success: function(data) {
                // make database test button green
                $('#database-test').removeClass('btn-secondary').addClass('btn-success');
                // change the icon within the button
                $('#database-test').html('<i class="bi bi-check"></i> Database Test Passed');
                // enable the save button
                $('#database-save').prop('disabled', false);
            },
            error: function(data) {
                // make database test button red
                $('#database-test').removeClass('btn-secondary').addClass('btn-danger');
                // change the icon within the button
                $('#database-test').html('<i class="bi bi-x"></i> Database Test Failed');
                // get the error message and show it at top of page
                var error = data.responseJSON.error;
                $('#ajax-error').html(error).show();
            }
        });
    });
</script>
</body>
</html>