{{ template "header.html" .}}

  <div class="cover bg-left bg-center-l" style="background-image: url(/img/hero_rigolet.jpg); opacity: 0.8;">
    &nbsp;
  </div>

  <div class="container">
    <h1>About Jason Ernst</h1>
    <p>
      I'm currently Principal Software Engineer at a startup working on mobile
      networks on phones. At the University of Guelph in Canada I hold adjunct
      Professor status and serve on the committee of several graduate students
      who are studying wireless networks and occasionally still co-publish
      research papers.
    </p>

    <p>
      Prior to this I was a Senior Software Engineer at a two different robotics
      startups in San Francisco (Rapid Robotics and Osaro). I was also the CTO and
      first developer at a startup in Vancouver called RightMesh which was building
      a mesh networking library for Android phones. During this time I was also an
      adjunct professor at the University of Guelph and was the industrial PI of
      a <a href="https://betakit.com/u-of-guelph-left-investing-2-13-million-in-rightmesh-project-improving-northern-connectivity/">$2.13M MITACS grant to improve connectivity in Northern Canada</a>,
      specifically Rigolet. RightMesh raised $30M in an ICO in 2018.
    </p>

    <p>
      Before that I was the CTO of <a href="https://montrealgazette.com/business/local-business/montreal-startup-ecosystem-fertile-playground-for-entrepreneurs">Redtree Robotics</a> which was working
      on a robotics hardware software platform to enable plug-and-play swarm
      robotics. I started this company with a friend during grad school and
      we raised some seed funding from Real Ventures.
    </p>

    <p>
      I've won, sponsored, and mentored <a href="https://uwaterloo.ca/news/waterloo-student-wins-national-hackathon">hackathons</a>. I love to give <a href="https://www.bbc.co.uk/programmes/w3csvpcr">talks</a> and
      present papers.
    </p>

    <p>
      I also enjoy driving, working on cars, video games, contributing to
      <a href="https://github.com/compscidr">open source</a>,
      <a href="">cycling, running</a>, and <a href="https://nomadlist.com/@compscidr">travel</a>.
    </p>

    <div>
      <p><a href="/tags">Tags</a> <a href="/archives">Archives</a> </p>
    </div>

  </div>


{{ template "footer.html" .}}
