  <div id="footer" class="text-center">
      {{ with .plugin_footer_html }}{{ . | rawHTML }}{{ end }}
      <div class="footer"></div>
      <div class="spacer version">Powered by <a href="https://github.com/compscidr/goblog" target="goblog {{ .version }}">goblog {{ .version }}</a></div>
  </div>
  </div> <!-- / wrapper -->
  <div class="bottom bottom-0">
    <div class="container">
      <h2 class="pt-2">Most Recent Post</h2>
      <h3 class="text-left"><a href="{{ .recent.Permalink }}" title="{{ .recent.Title }}">{{ .recent.Title }}</a></h3>
      <p class="blog-post-meta text-left">{{ .recent.CreatedAt.Format "Jan 02, 2006 15:04:05 UTC" }}
        {{ range .Tags }}
        <a href="{{ .recent.Permalink }}" title="{{ .recent.Name}}">#{{ .recent.Name }}</a>
        {{ end }}
      </p>
      <p class="text-justify">
        {{ .recent.HTMLPreview 300 }}
      </p>
    </div>
  </div>
{{ if or .admin_page .post }}
  <script>hljs.highlightAll();</script>
{{ end }}
{{ with index .settings "custom_footer_code" }}{{ if .Value }}
  {{ .Value | rawHTML }}
{{ end }}{{ end }}
{{ with .plugin_footer_html }}{{ . | rawHTML }}{{ end }}
</body>
