{{ template "header.html" .}}
  <div class="text-center">
    <div class="container align-self-center">
      <a href="/posts" title="Read posts by {{ .settings.site_title.Value }}"><img src="{{ .settings.landing_page_image.Value }}" class="rounded-circle img-responsive profile" style="max-width:300px;" alt="{{ .settings.site_title.Value }}"/></a>
      <h1>{{ .settings.site_title.Value }}</h1>
      <h4>{{ .settings.site_subtitle.Value }}</h4>
      <div style="width: 355px; margin: auto;">
        <p class="keywords">
          {{ .settings.site_tags.Value }}
        </p>
      </div>
    </div>
  </div>

{{ template "footer.html" .}}
