{{ template "header.html" .}}

  <div class="cover bg-left bg-center-l" style="background-image: url(/img/aidecentralized.jpg); opacity: 0.8;">
    &nbsp;
  </div>

  <div class="container">
    <h1>Research and Publications</h1>
    {{ if .errors }}
    <div class="alert alert-danger" role="alert">
      {{ .errors }}
    </div>
    {{ end }}
    {{range .articles}}
      <div class="row research">
        <div class="col-8">
          <a href="{{.ScholarURL}}">{{.Title}}</a> <br/>
          {{.Authors}} <br/>
        </div>
        <div class="col">{{.Year}}</div>
      </div>
    {{end}}
  </div>

{{ template "footer.html" .}}