name: Build and Test

on:
  push:
    branches:
      - "**"

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.22.2
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.0
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi

      - name: Build
        run: go build -ldflags="-X 'main.Version=$(git rev-parse HEAD)'" -v .

      - name: Test
        run: go test -race -coverprofile=coverage.txt -covermode=atomic goblog/...